 .zone-wrapper {
	background: white;
	border-color: darkgrey;
	padding: 125px;
	width: 200px;
	height: 300px;
	justify-content: center;
}
.section {
	width: 150px;
	height: 150px;
}

.container>img {
	width: 100% ;
	}

.container>img {
	width: 100%;
}